.logo{
    display:block;
    margin:auto;
    width:50px;
    height:50px;
}
body{
    background-image:linear-gradient(#26e8b3, #ca65cc);
    height: 100vh;
}
.container{
    border: 2px solid black;
    margin: auto;
    max-width: 950px;
    height: 70vh;
    border-radius: 10px;
    overflow: auto;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.message{
    background-color: rgb(156, 155, 91);
    width: 40%;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
.send{
    background-color: #a97fc7;
    max-width: 950px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#send-container{
    width: 100%;
    display: inline-flex;
}
#messageInp{
    width: 85%;
    border: 2px solid black;
    height: 40px;
    border-radius: 14px;
    background-color: #f9fbe8;
    margin: 3px;
}
.btn{
    height: 40px;
    width: 8%;
    border: 1px solid black;
    border-radius: 11px;
    background-color: antiquewhite;
    margin: 3px;
}
.btn img{
    width: 15px;
}